In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os
import numpy as np

In [2]:
column_titles = ["Seed", "Bot #", "", "Num of Steps"]
deterministic = {1, 2, 5, 6}
probabalistic = {3, 4, 7, 8, 9}
dataframes = [None]
for i in range(1, 10):
    dataframes.append(None)
    path = "../data/bot_{}.csv".format(i)
    if not os.path.isfile(path):
        continue
    column_titles[2] = "K" if i in deterministic else "Alpha"
    df = pd.read_csv(path, names=column_titles)
    if i in probabalistic:
        df = df[df.Alpha != 0.000000]
    dataframes[i] = df

In [ ]:
dataframes[7]

##### Bot 1 vs Bot 2 as a function of _k_

In [ ]:
# Bot 1
df1 = dataframes[1]
k_averages_1 = df1.groupby('K')['Num of Steps'].mean().reset_index()
k_averages_1

In [ ]:
# Bot 2
df2 = dataframes[2]
k_averages_2 = df2.groupby('K')['Num of Steps'].mean().reset_index()
k_averages_2

In [ ]:
plt.plot(k_averages_1['K'], k_averages_1['Num of Steps'], marker='o', linestyle='-', label = "Bot 1")
#plt.plot(k_averages_2['K'], k_averages_2['Num of Steps'], marker='o', linestyle='-', label = "Bot 2")
plt.xticks(np.arange(1, 9, 1))
plt.yticks(np.arange(0, 550, 50)) 
plt.xlabel('K Value')
plt.ylabel('Timesteps')
plt.title('Bot 1 vs Bot 2')
plt.grid(True)  # Display grid lines
plt.legend()
plt.savefig('bot1_vs_bot2.png')

##### Bot 3 vs Bot 4 as a function of _Î±_

In [3]:
# Bot 3
df3 = dataframes[3]
k_averages_3 = df3.groupby('Alpha')['Num of Steps'].mean().reset_index()
k_averages_3

       Alpha  Num of Steps
0   0.007143        477.33
1   0.014286        356.59
2   0.021429        280.41
3   0.028571        306.69
4   0.035714        298.93
5   0.042857        311.55
6   0.050000        333.09
7   0.057143        316.27
8   0.064286        298.87
9   0.071429        347.15
10  0.078571        356.69
11  0.085714        335.81
12  0.092857        365.93
13  0.100000        375.27

In [4]:
# Bot 4
df4 = dataframes[4]
k_averages_4 = df4.groupby('Alpha')['Num of Steps'].mean().reset_index()
k_averages_4

       Alpha  Num of Steps
0   0.007143    450.933333
1   0.007143    596.557143
2   0.014286    395.866667
3   0.014286    472.271429
4   0.021429    361.000000
5   0.021429    432.471429
6   0.028571    452.614286
7   0.028571    376.800000
8   0.035714    420.271429
9   0.035714    301.333333
10  0.042857    420.071429
11  0.042857    314.333333
12  0.050000    462.670000
13  0.057143    385.200000
14  0.057143    440.271429
15  0.064286    396.400000
16  0.064286    453.357143
17  0.071429    452.733333
18  0.071429    458.757143
19  0.078571    484.814286
20  0.078571    358.866667
21  0.085714    454.385714
22  0.085714    361.600000
23  0.092857    472.785714
24  0.092857    398.333333
25  0.100000    431.610000

In [ ]:
plt.plot(k_averages_3['Alpha'], k_averages_3['Num of Steps'], marker='o', linestyle='-', label = "Bot 3")
plt.plot(k_averages_4['Alpha'], k_averages_4['Num of Steps'], marker='o', linestyle='-', label = "Bot 4")
plt.xticks(list(np.arange(0, 0.1, 15)))
plt.yticks(np.arange(0, 650, 50)) 
plt.xlabel('Î± Value')
plt.ylabel('Timesteps')
plt.title('Bot 3 vs Bot 4')
plt.grid(True)  # Display grid lines
plt.legend()
plt.savefig('bot3_vs_bot4.png')

##### Bot 5 vs Bot 6 as a function of _k_

In [ ]:
# Bot 5
df5 = dataframes[5]
k_averages_5 = df5.groupby('K')['Num of Steps'].mean().reset_index()
k_averages_5

In [ ]:
# Bot 6
df6 = dataframes[6]
k_averages_6 = df6.groupby('K')['Num of Steps'].mean().reset_index()
k_averages_6

In [ ]:
plt.plot(k_averages_5['K'], k_averages_5['Num of Steps'], marker='o', linestyle='-', label = "Bot 5")
#plt.plot(k_averages_6['K'], k_averages_6['Num of Steps'], marker='o', linestyle='-', label = "Bot 6")
plt.xticks(np.arange(1, 9, 1))
plt.yticks(np.arange(0, 650, 50)) 
plt.xlabel('K Value')
plt.ylabel('Timesteps')
plt.title('Bot 5 vs Bot 6')
plt.grid(True)  # Display grid lines
plt.legend()
plt.savefig('bot5_vs_bot6.png')

##### Bot 7 vs Bot 8 vs Bot 9 as a function of _Î±_